config RESCTRL_FS
	bool "CPU Resource Control Filesystem (resctrl)"
	depends on ARCH_HAS_CPU_RESCTRL
	depends on ARM_CPU_RESCTRL
	select KERNFS
	select PROC_CPU_RESCTRL               if PROC_FS
	help
	  Resctrl is a filesystem interface
	  to control allocation and
	  monitoring of system resources
	  used by the CPUs.

config RESCTRL_FS_PSEUDO_LOCK
	bool
	help
	  Software mechanism to try and pin data in a cache portion using
	  micro-architecture tricks.

config RESCTRL_RMID_DEPENDS_ON_CLOSID
	bool
	help
	  Enable by the architecture when the RMID values depend on the CLOSID.
	  This causes the closid allocator to search for CLOSID with clean
	  RMID.
