#
# Bytedance module configuration
#
config BYTEDANCE_MULTI_HOOK
	tristate "bytedance multi_hook module"
	default n
	depends on X86_64
	---help---
	  this module is multi_hook

	  detail at https://bytedance.feishu.cn/wiki/wikcnIUoLqVsIn4dUyPcFEJSn0b

	  for const_func_hook now only supports x86_64, so multi_hook now also 
	  only supports x86_64.
