#
# Bytedance module configuration
#
menu "ByteDance drivers support"

config BYTEDANCE
	bool "bytedance private kernel module"
	default n
	help
	  If you want some module which belong to bytedance 
	  say Y.

	  Note that the answer to this question does not directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Bytedance module. If you say Y, you will be asked
	  for your specific module in the following questions.

config BYTEDANCE_TRACE_IRQOFF
	tristate "Interrupts-off and Softirqs-off Latency Tracer"
	depends on BYTEDANCE
	default n
	help
	  This option measures the time spent in irqs-off or softirqs-off
	  critical, with microsecond accuracy.

	  The tracer is disabled by default and can be runtime (re-)started
	  via:

	      echo 1 > /proc/trace_irqoff/enable

	  The tracer only records the stack trace that irqs-off or softirqs-off
	  time exceeds the threshold and threshold can be set via:

	      # unit: microsecond
	      echo 50 > /proc/trace_irqoff/trace_latency

config BYTEDANCE_HOT_INSPECTOR
	tristate "bytedance hot component inspector"
	depends on BYTEDANCE
	default n
	help
	  Bytedance IDC workload hot component inspector. This option launches
	  percpu timer to record hotpot in low freq.

	  You can adjust the percpu timer freq in [100, 1000000] ms via:

	      echo xxx > /sys/kernel/debug/hot_inspector/timer_ms

	  The default value is 10000ms. The percpu hotpot status are in:

	      /sys/kernel/debug/hot_inspector/cpu/[N]

if BYTEDANCE
source "drivers/bytedance/hookbind/Kconfig"
source "drivers/bytedance/blackholefs/Kconfig"
endif

endmenu

