# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) 2024, ByteDance Ltd. and/or its affiliates. All rights reserved.
#
# Bytedance module configuration
#
config BYTEDANCE_HOOKBIND
	tristate "ByteDance hookbind driver"
	default n
	help
	  This driver is used to hook bind syscall.  Details can refer to
	  https://bytedance.feishu.cn/wiki/wikcnso8i1DX1YirVuJcbGbmCYZ

