# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) 2024, ByteDance Ltd. and/or its affiliates. All rights reserved.
#
# Bytedance module configuration
#
config BYTEDANCE_BLACKHOLEFS
	tristate "ByteDance blackholefs driver"
	default n
	help
	  This driver is blackholefs.

