# Confusingly, this is everything but the CPU bits of MPAM. CPU here means
# CPU resources, not containers or cgroups etc.
config ARM_CPU_RESCTRL
	bool
	default y
	depends on ARM64 && ARCH_HAS_CPU_RESCTRL
	depends on MISC_FILESYSTEMS
	select RESCTRL_RMID_DEPENDS_ON_CLOSID
